<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<link rel="stylesheet"
		th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet"
		th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
	<script th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script th:src="@{scripts/search.js}"></script>
</head>
<body>
	<nav class="navbar 	navbar-expand-lg navbar-dark bg-dark"
		th:fragment="header">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerKino" aria-controls="navbarTogglerKino"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Kinoshara</a>

			<div class="collapse navbar-collapse" id="navbarTogglerKino">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link" href="/">Movies
							<span class="sr-only">(current)</span>
					</a></li>
					</li>
				</ul>
				<form autocomplete="off" class="form-inline my-2 my-lg-0">
					<div class="autocomplete">
						<input class="form-control mr-sm-2" id="searchTextBox"
							 placeholder="Search" aria-label="Search">
					</div>
					<button class="btn btn-outline-success my-2 my-sm-0" id="searchButton" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</body>
</html>