<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<link rel="stylesheet"
		th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet"
		th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
	<link rel="stylesheet"
		th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
	<script th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{webjars/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{scripts/search.js}"></script>
</head>
<body>
	<nav class="navbar 	navbar-expand-lg navbar-dark bg-dark"
		th:fragment="header">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerKino" aria-controls="navbarTogglerKino"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/">Kinoshara</a>

			<div class="collapse navbar-collapse" id="navbarTogglerKino">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item" th:classappend="${module == 'movies' ? 'active' : ''}"><a class="nav-link" href="/">Movies
							<span class="sr-only">(current)</span>
					</a></li>
				</ul>
				<form autocomplete="off" class="form-inline">
					<div class="autocomplete">
						<div class="input-group">
							<input class="form-control" id="searchTextBox"
								 placeholder="Search" aria-label="Search">
							<div class="input-group-append">
								<button id="searchButton" class="btn btn-primary octicon octicon-search" type="button"></button>
							</div>
						</div>
					</div>
				</form>
				<form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/logout}" method="POST">
					<button class="btn btn-outline-success mx-2" id="logout-button" type="submit">logout</button>
				</form>
				<button th:onclick="window.location.href='/login/registration'" th:href="@{/login/registration}" sec:authorize="isAnonymous()" class="btn btn-outline-success mr-2 ml-3" id="singup-button" type="submit">sign up</a>
				<button th:onclick="window.location.href='/login'" sec:authorize="isAnonymous()" class="btn btn-outline-success ml-1" id="signin-button" type="submit">sign in</a>
				
			</div>
		</div>
	</nav>
</body>
</html>