<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="links">
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/movie.css}" />
	<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
	<link rel="stylesheet"
		th:href="@{/webjars/octicons/build/font/octicons.min.css}" />

	<link rel="stylesheet" th:href="@{/webjars/bootstrap-select/css/bootstrap-select.min.css}">
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	

	<script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.min.js}"></script>

	<script th:src="@{/scripts/search.js}" /></script>
	<script th:src="@{/scripts/filter.js}" /></script>
</head>
</html>