<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div
	th:replace="layout/body :: body('Person', 'add_person', ~{ ::content})">
	<div th:fragment="content">
		<div class="container bg-light roudned p-4">
			<div th:if="${result == 'success'}"
				class="alert alert-success col-12" role="alert">Genre was
				updated successfully.</div>
			<div th:if="${result == 'fail'}" class="alert alert-danger col-12"
				role="alert">There was a problem in updating genre</div>
			<div class="row">
				<h4 class="mb-4 col-12">Genre</h4>
				<form method="POST" th:object="${genre}" class="col-12">
					<div class="row">
						<div class="col-9">
							<div class="row">
								<div class="row col-12">
									<div class="form-group col-6">
										<label for="input-firstname">Genre</label> <input
											required minlength="2" maxlength="30" th:field="*{name}"
											type="text" class="form-control" id="input-firstname"
											placeholder="Enter firtname">

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-primary mt-2 col-2 offset-5">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</html>