<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Kinoshara.com</a>
</nav>

<h2 class="h2 ml-2">Актёры</h1>

<ol>
<li th:each="actor : ${actors}" th:text="${actor.firstName} + ' ' +  ${actor.lastName} + ', ' + ${actor.dateOfBirthday} + ', ' + ${actor.Country}"></li>
</ol>

</body>
</html>