<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="layout/body :: body('movies', 'movies', ~{ ::content})">
	<main role="main" class="container" th:fragment="content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div th:replace="fragments/moviesNavigationPanel :: navigationPanel"></div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-2">
			<div th:replace="fragments/moviesSidebar :: sidebar"></div>
		</div>
		<div class="card-columns col-xs-12 col-sm-9 col-md-10">
			<div class="card card-film" th:each="film : ${films}">
				<!--  <div class="card-header"> 
	<h5 th:text="${film.title}"></h5>
	</div>
	-->
				<!-- @{/image/victory.jpg} -->

				<div>
					<img th:src="@{'/image/smallposter/' + ${film.imageSmallPath}}"
						class="card-image" alt="...">
				</div>
				<div class="card-body">

					<!-- ${film.imageSmallPath} -->

					<ul type="none" class="film-description-list">
						<a th:href="@{'/films/' + ${film.id}}"><h5
								th:text="${film.title}"></h5></a>



						<span class="label font-weight-normal"
							th:if="${film.genres!=null and !film.genres.isEmpty()}">Genres:
							<span class="badge badge-pill badge-primary"
							th:if="${film.genres}" th:each="genre : ${film.genres}"
							th:text="${genre.name}" /><br />
						</span>
						<span class="label font-weight-normal"
							th:if="${film.getReleaseDate()!=null}">Release date: <span
							class="badge badge-pill badge-primary"
							th:if="${film.getReleaseDate()}"
							th:text="${#dates.format(film.getReleaseDate(), 'dd-MM-yyyy')}" /><br />
						</span>

					</ul>
				</div>

			</div>
		</div>
		<div  class="row"style="margin: auto;">
		<ul class="pagination">
			<li class="page-item disabled"><a class="page-link" href="#"
				tabindex="-1">Pages </a></li>
			<div th:each="pageNumber : ${pageNumbers}">

				<div th:if="${pageNumber eq films.getNumber() + 1}">
					<li class="page-item active"><a class="page-link" href="#"
						th:text=${pageNumber}></a></li>
				</div>
				<div th:unless="${pageNumber eq films.getNumber() + 1}">
					<li class="page-item"><a class="page-link"
						th:href="@{/(page=${pageNumber})}" th:text=${pageNumber}></a></li>
				</div>
			</div>
		</ul>
	</div>
	</div>
	
</div>

</main>
</html>