<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Main Page WebSite!</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/movie.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Kinoshara.com</a>
</nav>

<main role="main" class="container">

<div class ="card-columns">
	<div class="card " th:each="film : ${films}">
	<!--  <div class="card-header"> 
	<h5 th:text="${film.title}"></h5>
	</div>
	-->
	<img th:src="${film.imageSmallPath}" class="card-img-top img-film" alt="...">
		<div class="card-body">
		
		<ul type="none">
		<a th:href="@{/films/(id=${film.id})}" ><h5 th:text="${film.title}"></h5></a>
		<span class="label font-weight-normal" >Countries:</span>
			<span class="badge badge-pill badge-primary" th:if="${film.countries}" th:each="country : ${film.countries}" th:text="${country.name}" /><br/>
		<span class="label ">Actors:</span>
			<span class="badge badge-pill badge-primary" th:if="${film.actors}" th:each="actor : ${film.actors}" th:text="${actor.firstName} + ' ' +  ${actor.lastName}" /><br/>
		<span class="label font-weight-normal">Directors:</span>
			<span class="badge badge-pill badge-primary" th:if="${film.directors}" th:each="director : ${film.directors}" th:text="${director.name}" /><br/>
		<span class="label font-weight-normal">Genres:</span>
			<span class="badge badge-pill badge-primary" th:if="${film.genres}" th:each="genre : ${film.genres}" th:text="${genre.name}" /><br/>
			
		</ul>
		</div>
		
		
</div>
</div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>