<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/movie.css}" />
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Kinoshara.com</a>
</nav>
<main role="main" class="container">

<div class ="card-columns">
	<div class="card" style="width: 18rem;">
	<div class="card-header"> 
	<h5 th:text="${film.title}"></h5>
	</div>
		<div class="card-body">
		<ul type="none">
		<h6>Countries:</h6>
        <li><ol>
			<li th:if="${film.countries}" th:each="country : ${film.countries}" th:text="${country.name}" />
		</ol></li>
		<h6>Actors:</h6>
		<li><ol>
			<li th:if="${film.actors}" th:each="actor : ${film.actors}" th:text="${actor.firstName}" />
		</ol></li>
		<h6>Directors:</h6>
		<li><ol>
			<li th:if="${film.directors}" th:each="director : ${film.directors}" th:text="${director.name}" />
		</ol></li>
		<h6>Genres:</h6>
		<li><ol>
			<li th:if="${film.genres}" th:each="genre : ${film.genres}" th:text="${genre.name}" />
		</ol></li>
		</ul>
</div>

</div>
</div>
	
	<div class="my-3 p-3 bg-white rounded box-shadow">
		<h6 class="border-bottom border-gray pb-2 mb-0">Comments</h6>
		<div class="media text-muted pt-3">
			<img data-src="@{'/image/' + ${film.posterSmall}}" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"/>
		</div>
	</div>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>