<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Countries list</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/octicons/build/font/octicons.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/carousel.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script charset="utf-8" type="text/javascript"
	th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script charset="utf-8" type="text/javascript"
	th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script charset="utf-8" type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script charset="utf-8" type="text/javascript"
	th:src="@{/scripts/validateLoginForm.js}" /></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script th:src="@{/scripts/search.js}" /></script>

</head>
<style>
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
</style>
<body>

	<div th:replace="fragments/header :: header"></div>

	<main role="main" class="container">


	<h2>Countries</h2>
	<div style="overflow-x: auto;">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
					<th>Edit</th>
					<th>Delete</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:each="country : ${countries}">
					<td th:text="${country.id}"></td>
					<td th:text="${country.name}"></td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
					<td><a th:href="@{/countries/edit/{id}(id=${country.id})}">Edit</a></td>
					<td><button type="button" class="btn btn-link"
							data-toggle="modal" data-target="#myModal"
							th:attr="data-content=${country.id}">Delete</button> 
					</td>
					</div>
				</tr>
			</tbody>
		</table>
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
	<a th:href="@{/countries/add}"><h3>+Add country</h3></a> </main>
	</div>

	<!-- HTML-код модального окна -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<!-- Заголовок модального окна -->
				<div class="modal-header">
					<h5 class="modal-title" style="text-align: center">Delete
						Parmanently</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" style="text-align: right; color: #ff0000">×</button>
				</div>
				<!-- Основное содержимое модального окна -->
				<div class="modal-body">
					<h5 style="text-align: center;">Are you sure about this ?</h5>

				</div>
				<!-- Футер модального окна -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					<a id="content" type="button" class="btn btn-danger">Delete</a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
		
		<!-- Скрипт, вызывающий модальное окно после загрузки страницы -->
	<script>
		$('#myModal').on('show.bs.modal', function(event) {

			var button = $(event.relatedTarget)

			var content = button.data('content')

			$(this).find('#content').attr("href", "admin/delete/country/" + content);

		})
	</script>
	
</body>
</html>