<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Directors</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Kinoshara.com</a>
</nav>


	<main role="main" class="container">

	<div class="card-columns">
		<div class="card" th:each="director : ${directors}">
			<div class="card-header" ><a th:href="@{'/directors/' + ${director.id}}"><p
								th:text="${director.firstName} + ' ' +  ${director.lastName}"></p></a></div>
			<div class="card-body">
				<ul type="disc">
					<li th:text="${director.dateOfBirthday}" />
					<li th:text="${director.Country}" />
					 <li>Фильмография:
							<ol>
								<li th:if="${director.films}" th:each="film : ${director.films}" ><a
					th:href="@{'/films/' + ${film.id}}"><h5 th:text="${film.title}"></h5></a></li>
							</ol>
						</li> 
				</ul>
			</div>
		</div>
	</div>
	</main>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
