<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<main role="main" class="container">
    <ol th:each="film : ${films}">
        <li th:text="${film.title}"></li>
        <li><ol>
			<li th:if="${film.countries}" th:each="country : ${film.countries}" th:text="${country.name}" />
		</ol></li>
		<li><ol>
			<li th:if="${film.actors}" th:each="actor : ${film.actors}" th:text="${actor.firstName}" />
		</ol></li>
		<li><ol>
			<li th:if="${film.directors}" th:each="director : ${film.directors}" th:text="${director.name}" />
		</ol></li>
		<li><ol>
			<li th:if="${film.genres}" th:each="genre : ${film.genres}" th:text="${genre.name}" />
		</ol></li>
    </ol>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>