<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/login.css}" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script th:src="@{/scripts/search.js}"/></script>
<script th:src="@{/scripts/filter.js}"/></script>

</head>
<body>

<div th:replace="fragments/header :: header(module='movies')"></div>

<div class="container login-container">
            <div class="row">
                <div class="col-md-5 col-centered login-form-1">
                    <h3>Log in to Kinoshara</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your login" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your password" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                    </form>
            </div>
      </div>
</div>

</body>
</html>