<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Movie</title>


<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/movie.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script th:src="@{/scripts/search.js}" /></script>
<script th:src="@{/scripts/filter.js}" /></script>

<style>
.sticky {
	position: fixed;
	top: 56px;
	width: 100%;
}
</style>

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<main role="main" class="container bg-light">

	<div class="container-fluid pt-5">
		<div class="row">
			<div class="col-md-3" style="height: 370px;">
				<div id="image">
					<img th:src="@{'/image/' + ${film.imageSmallPath}}"
						style="width: 260px; height: 366px;">
				</div>

			</div>
			<div class="col-md-9">
				<h5 th:text="${film.title}"></h5>

				<br>
				<div class="row">
					<div class="col-md-3">
						Genres
						<ul type="none">
							<li th:each="genre : ${film.genres}" th:text="${genre.name}" />
						</ul>
					</div>
					<div class="col-md-3">
						Length:
						<ul type="none">
							<li><p th:text=" ${film.filmLength}"></p></li>
						</ul>
					</div>
					<div class="col-md-3">
						Contries
						<ul type="none">
							<li th:each="country : ${film.countries}"
								th:text="${country.name}" />
						</ul>
					</div>
					<div class="col-md-3">
						IMDb
						<ul type="none">
							<li th:text="${film.rating}" />
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row  p-2">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<h2 class="text-primary">Actors</h2>
				<div class="row  p-2">
					<div class="col-md-3 pt-2" th:each="actor, iter : ${film.actors}">
						<div class="card" style="height: 100px;">
							<div class="card-body">
								<p th:text="${actor.firstName} + ' ' + ${actor.lastName}"></p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<h5 class="text-primary">
							Directors
							</h2>
							<ul type="none">
								<li th:if="${film.directors}"
									th:each="director : ${film.directors}"
									th:text="${director.name}" />
							</ul>
					</div>

					<div class="col-md-4">
						<h5 class="text-primary">
							Operators
							</h2>
							<ul type="none">
								<li th:if="${film.directors}"
									th:each="director : ${film.directors}"
									th:text="${director.name}" />
							</ul>
					</div>

					<div class="col-md-4">
						<h5 class="text-primary">
							Scenario
							</h2>
							<ul type="none">
								<li th:if="${film.directors}"
									th:each="director : ${film.directors}"
									th:text="${director.name}" />
							</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<div class="container mt-3">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link active"
							href="#comments"><h2 class="text-primary">Feedback</h2></a></li>
						<li class="nav-item"><a class="nav-link" href="#reviews">
								<h2 class="text-primary">Reviews</h2>
						</a></li>
					</ul>
					<div class="tab-content">
						<div id="comments" class="container tab-pane active">
							<ul class="list-unstyled">
								<li class="media mt-3" th:if="${film.comments}"
									th:each="comment : ${film.comments}"><img
									class="align-self-top mr-3" src="/image/icon.jpg" alt="...">
									<div class="media-body">
										<h5 class="mt-0 mb-1">Username</h5>
										<span th:text="${comment.comment}"></span>
										<h5 class="text-right m-2">Date</h5>
									</div></li>

							</ul>
						</div>
						<div id="reviews" class="container tab-pane fade">
							<ul class="list-unstyled">
								<li class="media mt-3" th:if="${film.reviews}"
									th:each="review : ${film.reviews}"><img
									class="align-self-top mr-3" src="/image/icon.jpg" alt="...">
									<div class="media-body">
										<h5 class="mt-0 mb-1">Username</h5>
										<span th:text="${review.review}"></span>
										<h5 class="text-right m-2">Date</h5>
									</div></li>

							</ul>
							<div
								th:replace="fragments/addReview :: review (${film})"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.onscroll = function() {
			myFunction()
		};

		var header = document.getElementById("image");
		var sticky = header.offsetTop;

		function myFunction() {
			if (window.pageYOffset > 56) {
				header.classList.add("sticky");
			} else {
				header.classList.remove("sticky");
			}
		}
		$(document).ready(function() {
			$(".nav-tabs a").click(function() {
				$(this).tab('show');
			});
		});
	</script> </main>
</body>

</html>