<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Movie</title>


<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/movie.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/octicons/build/font/octicons.min.css}" />

<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/octicons/build/font/octicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/carousel.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script th:src="@{/scripts/search.js}" /></script>
<script th:src="@{/scripts/filter.js}" /></script>

<style>
.sticky {
	position: fixed;
	top: 56px;
	width: 100%;
}

a:hover {
	text-decoration: none;
}
</style>

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<main role="main" class="container bg-light body-container">

	<div class="container-fluid pt-5">
		<div class="row">
			<div class="col-md-3" style="height: 370px;">
				<div id="image">
					<img th:src="@{'/image/bigposter/' + ${film.imageSmallPath}}"
						style="width: 260px; height: 366px;">
					<h3 class="font-weight-lighter align-center"
						th:text="'IMDb: ' + ${film.rating}"></h3>

				</div>



			</div>
			<div class="col-md-9">
				<h5 class="display-3" th:text="${film.title}"></h5>

				<br>
				<div class="row ml-2">
					<div class="col-md-3">
						<h5 class="font-weight-light text-muted">Genres</h5>
						<ul type="none">
							<li class="font-weight-lighter" th:each="genre : ${film.genres}"
								th:text="${genre.name}" />
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="font-weight-light text-muted">Length</h5>
						<ul type="none">
							<li><p class="font-weight-lighter"
									th:text=" ${film.filmLength}"></p></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="font-weight-light text-muted">Contries</h5>
						<ul type="none">
							<li class="font-weight-lighter"
								th:each="country : ${film.countries}" th:text="${country.name}" />
						</ul>
					</div>
					<div class="col-md-3">
						<div
							th:replace="fragments/addFilmStatus :: status (${film}, ${filmStatus})"></div>
					</div>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<button type="button" class="btn btn-link" data-toggle="modal"
							data-target="#myModal" th:attr="data-content=${film.id}">Delete</button>
					</div>
					<!-- HTML-код модального окна -->
					<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<!-- Заголовок модального окна -->
								<div class="modal-header">
									<h5 class="modal-title" style="text-align: center">Delete
										Parmanently</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true" style="text-align: right; color: #ff0000">×</button>
								</div>
								<!-- Основное содержимое модального окна -->
								<div class="modal-body">
									<h5 style="text-align: center;">Are you sure about this ?</h5>

								</div>
								<!-- Футер модального окна -->
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
										data-dismiss="modal">Cancel</button>
									<a id="content" type="button" class="btn btn-danger">Delete</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
		<div class="row  p-2">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<h2 class="display-4 ml-2">Actors</h2>
				<div class="row  p-2">
					<div class="col-md-3 pt-2" th:each="actor, iter : ${film.actors}">
						<div class="card" style="height: 100px;">
							<div class="card-body font-weight-light font-weight-bold">
								<a th:href="@{'/actors/' + ${actor.id}}"><p
										th:text="${actor.firstName} + ' ' + ${actor.lastName}"></p></a>
								<!-- <p th:text="${actor.firstName} + ' ' + ${actor.lastName}"></p> -->
							</div>
						</div>
					</div>
				</div>

				<div class="row ml-2">
					<div class="col-md-4">
						<h5 class="text-muted font-weight-light">Directors</h5>
						<ul type="none">
							<li class="font-weight-lighter"
								th:each="director : ${film.directors}"><a
								th:href="@{'/directors/' + ${director.id}}">
									<p
										th:text="${director.firstName} + ' ' +  ${director.lastName}"></p>
							</a></li>
						</ul>
					</div>

					<div class="col-md-4">
						<h5 class="text-muted font-weight-light">Operators</h5>
						<ul type="none">
							<li class="font-weight-lighter"
								th:each="director : ${film.directors}"
								th:text="${director.firstName}" />
						</ul>
					</div>

					<div class="col-md-4">
						<h5 class="text-muted font-weight-light">Scenario</h5>
						<ul type="none">
							<li class="font-weight-lighter"
								th:each="director : ${film.directors}"
								th:text="${director.firstName}" />
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<div class="container mt-3">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a data-toggle="tab"
							class="nav-link active" href="#comments"><h3
									class="font-weight-light">Feedback</h3></a></li>
						<li class="nav-item"><a data-toggle="tab" class="nav-link"
							href="#reviews">
								<h3 class="font-weight-light">Reviews</h3>
						</a></li>
					</ul>
					<div class="tab-content">
						<div id="comments" class="container tab-pane active">
							<ul class="list-unstyled">
								<li class="media mt-3" th:if="${film.comments}"
									th:each="comment : ${film.comments}"><img
									class="align-self-top mr-3 rounded" src="/image/temp/icon.jpg"
									alt="...">
									<div class="media-body p-2 border-bottom border-info">
										<h5 class="text-muted">
											<span th:text="${comment.getUser().getName()}"></span>
										</h5>
										<h5 class="font-weight-light" th:text="${comment.text}"></h5>
										<h6 class="text-right">
											<span th:text="${comment.getDate().toString()}"></span>
										</h6>
									</div></li>
							</ul>
							<div th:replace="fragments/addComment :: comment(${film})"></div>
						</div>
						<div id="reviews" class="container tab-pane fade">
							<ul class="list-unstyled">
								<li class="media mt-3" th:if="${film.reviews}"
									th:each="review : ${film.reviews}"><img
									class="align-self-top mr-3 rounded" src="/image/temp/icon.jpg"
									alt="...">
									<div class="media-body p-2 "
										th:classappend="${review.getIsGood() == true} ? 'border-bottom border-success' : 'border-bottom border-danger'">
										<h5 class="text-muted">
											<span th:text="${review.getUser().getName()}"></span> <span
												th:if="${review.getIsGood() == true}"
												class="octicon octicon-thumbsup"></span>
											<!-- Crap expression -->
											<span th:if="${review.getIsGood() != true}"
												class="octicon octicon-thumbsdown"></span>
										</h5>
										<h5 class="font-weight-light" th:text="${review.text}"></h5>
										<h6 class="text-right" th:if="${review.getDate() != null}">
											<p th:text="${review.getDate().toString()}">
										</h6>
									</div></li>
							</ul>
							<div th:replace="fragments/addReview :: review (${film})"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h3 class="display-4 ml-2 d-flex justify-content-center">Similar
		movies</h3>
	<div th:replace="fragments/carousel :: carousel(${similar})"></div>
	<!-- Скрипт, вызывающий модальное окно после загрузки страницы --> <script>
		$('#myModal').on('show.bs.modal', function(event) {

			var button = $(event.relatedTarget)

			var content = button.data('content')

			$(this).find('#content').attr("href", "/films/delete/" + content);

		})

		window.onscroll = function() {
			myFunction()
		};

		var header = document.getElementById("image");
		var sticky = header.offsetTop;

		function myFunction() {
			if (window.pageYOffset > 56) {
				header.classList.add("sticky");
			} else {
				header.classList.remove("sticky");
			}
		}
		/*
		$(document).ready(function() {
			$(".nav-tabs a").click(function() {
				$(this).tab('show');
			});
		});
		 */

		$(document).ready(function() {

			$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
				/*
				var id = $(e.target).attr("href").substr(1);
				window.location.hash = id;
				 */
				var id = $(e.target).attr("href");
				localStorage.setItem('tabhash', id);

			});
			//var hash = window.location.hash;
			var hash = localStorage['tabhash'];
			$('.nav-tabs a[href="' + hash + '"]').tab('show')
		});
	</script> </main>
</body>

</html>