<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Movie</title>


<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/movie.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script th:src="@{/scripts/search.js}" /></script>
<script th:src="@{/scripts/filter.js}" /></script>

<style>
.sticky {
	position: fixed;
	top: 56px;
	width: 100%;
}
</style>

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<main role="main" class="container bg-light">

	<div class="container-fluid pt-5">
		<div class="row">
			<div class="col-md-3" style="height: 370px;">
				<div id="image">
					<img th:src="@{'/image/' + ${film.imageSmallPath}}"
						style="width: 260px; height: 366px;">
				</div>

			</div>
			<div class="col-md-9">
				<h5 class="display-3" th:text="${film.title}"></h5>

				<br>
				<div class="row ml-2">
					<div class="col-md-3">
						<h5 class="font-weight-light text-muted">Genres</h5>
						<ul type="none">
							<li class="font-weight-lighter" th:each="genre : ${film.genres}"
								th:text="${genre.name}" />
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="font-weight-light text-muted">Length</h5>
						<ul type="none">
							<li><p class="font-weight-lighter"
									th:text=" ${film.filmLength}"></p></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="font-weight-light text-muted">Contries</h5>
						<ul type="none">
							<li class="font-weight-lighter"
								th:each="country : ${film.countries}" th:text="${country.name}" />
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="font-weight-light text-muted">IMDb</h5>
						<ul type="none">
							<li><p class="font-weight-lighter" th:text="${film.rating}"></p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row  p-2">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<h2 class="display-4 ml-2">Actors</h2>
				<div class="row  p-2">
					<div class="col-md-3 pt-2" th:each="actor, iter : ${film.actors}">
						<div class="card" style="height: 100px;">
							<div class="card-body font-weight-light font-weight-bold">
								<p th:text="${actor.firstName} + ' ' + ${actor.lastName}"></p>
							</div>
						</div>
					</div>
				</div>

				<div class="row ml-2">
					<div class="col-md-4">
						<h5 class="text-muted font-weight-light">Directors</h5>
						<ul type="none">
							<li class="font-weight-lighter"
								th:each="director : ${film.directors}"
								th:text="${director.name}" />
						</ul>
					</div>

					<div class="col-md-4">
						<h5 class="text-muted font-weight-light">Operators</h5>
						<ul type="none">
							<li class="font-weight-lighter"
								th:each="director : ${film.directors}"
								th:text="${director.name}" />
						</ul>
					</div>

					<div class="col-md-4">
						<h5 class="text-muted font-weight-light">Scenario</h5>
						<ul type="none">
							<li class="font-weight-lighter"
								th:each="director : ${film.directors}"
								th:text="${director.name}" />
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<div class="container mt-3">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link active"
							href="#comments"><h3 class="font-weight-light">Feedback</h3></a></li>
						<li class="nav-item"><a class="nav-link" href="#reviews">
								<h3 class="font-weight-light">Reviews</h3>
						</a></li>
					</ul>
					<div class="tab-content">
						<div id="comments" class="container tab-pane active">
							<ul class="list-unstyled">
								<li class="media mt-3" th:if="${film.comments}"
									th:each="comment : ${film.comments}"><img
									class="align-self-top mr-3" src="/image/icon.jpg" alt="...">
									<div class="media-body">
										<h5 class="text-muted">
											<p th:text="${comment.getUser().getName()}"></p>
										</h5>
										<h5 class="font-weight-light" th:text="${comment.text}"></h5>
										<h6 class="text-right">
											<p th:text="${comment.getDate().toString()}">
										</h6>
									</div></li>
							</ul>
							<div th:replace="fragments/addComment :: comment(${film})"></div>
						</div>
						<div id="reviews" class="container tab-pane fade">
							<ul class="list-unstyled">
								<li class="media mt-3" th:if="${film.reviews}"
									th:each="review : ${film.reviews}"><img
									class="align-self-top mr-3" src="/image/icon.jpg" alt="...">
									<div class="media-body p-2"
										th:classappend="${review.getIsGood() == true} ? 'border border-success' : 'border border-danger'">
										<h5 class="text-muted">
											<p th:text="${review.getUser().getName()}"></p>
										</h5>
										<h5 class="font-weight-light" th:text="${review.text}"></h5>
										<h6 class="text-right">
											<p th:text="${review.getDate().toString()}">
										</h6>
									</div></li>
							</ul>
							<div th:replace="fragments/addReview :: review (${film})"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.onscroll = function() {
			myFunction()
		};

		var header = document.getElementById("image");
		var sticky = header.offsetTop;

		function myFunction() {
			if (window.pageYOffset > 56) {
				header.classList.add("sticky");
			} else {
				header.classList.remove("sticky");
			}
		}
		$(document).ready(function() {
			$(".nav-tabs a").click(function() {
				$(this).tab('show');
			});
		});
	</script> </main>
</body>

</html>