<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>UserProfile</title>
<link rel="stylesheet" th:href="@{/css/userprofile.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/octicons/build/font/octicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/image_wrap.css}">
<link rel="stylesheet"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/octicons/build/font/octicons.min.css}" />
<link rel="stylesheet" th:href="@{/css/image_wrap.css}">
<script th:src="@{/scripts/admin/imagePreview.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script th:src="@{/scripts/search.js}" /></script>


</head>
<style>
img {
	background-image: url(http://placehold.it/200x200);
	overflow: hidden;
}

img:before {
	content: " ";
	font-size: 100px;
}

#uploaded-image {
	height: 100%;
	width: 100%;
}

.image-wrapper {
	height: inherit;
	width: inherit;
	overflow: hidden;
}
</style>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="row my-2">
		<div class="col-2"> </div>
			<div class="col-8 align-self-center">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a href="" data-target="#profile"
						data-toggle="tab" class="nav-link active">Profile</a></li>
					<li class="nav-item"><a href="" data-target="#edit"
						data-toggle="tab" class="nav-link">Edit</a></li>
					<li class="nav-item"><a href="" data-target="#towatch"
						data-toggle="tab" class="nav-link">To Watch</a></li>
					<li class="nav-item"><a href="" data-target="#watched"
						data-toggle="tab" class="nav-link">Watched</a></li>
				</ul>
				<div class="tab-content py-4">
					<div class="tab-pane active" id="profile">
						<h4 class="blue">User Profile</h4>
						<div class="row">
							<div class= "col-lg-3"></div>
							<div class="col-lg-6 order-lg-1 text-center">
								<img th:src="@{'/image/smallportrait/' + ${user.avatar}}"
									class="mt-2 mx-auto img-fluid img-circle d-block"
									style="width: 200px; height: 200px">
								<h5 class="mb-3 mt-5">
									<span class="middle" th:text="${user.name}">John Doe</span>
								</h5>
								<div class="profile-user-info">
									<div class="profile-info-row">
										<div class="profile-info-name">Date of Birth</div>

										<div class="profile-info-value">
											<span th:text="${user.birthday}">00</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name">E-mail</div>

										<div class="profile-info-value">
											<span th:text="${user.email}">E-mail</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name">Role</div>

										<div class="profile-info-value">
											<span th:text="${user.role}">Role</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--/row-->
					</div>
					<div class="tab-pane" id="edit">
						<div th:fragment="content">
							<div class="container bg-light roudned p-4">
								<div class="row">
									<div class="alert alert-danger" role="alert"
										th:if="${error != null}" th:text="${error}"></div>
									<h4 class="mb-4 col-12">Avatar add</h4>
									<form method="POST" enctype="multipart/form-data"
										class="col-12">
										<div class="row">
											<div class="col-3">
												<div class="form-group">
													<label for="input-photo">Image Preview</label>
													<div class="image-wrapper">
														<img id="uploaded-image">
													</div>
													<div class="form-group">
														<input required name="smallPortrait" accept=".jpg,.png"
															type="file" class="cform-control-file" id="input-photo">
													</div>
												</div>
											</div>
											<div class="col-12">
												<input class="btn btn-primary" type="submit"
													id="submit-movie-button" value="Change Avatar">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<br> <a class="btn btn-primary" href="/users/changePassword"><i
							class="fa fa-home mr10">Change Password</i></a>

					</div>
					<div class="tab-pane" id="towatch">
						<h4 class="blue">Films to watch</h4>
						<table>
							<tbody>
								<tr th:if="${listOfWatchLater}"
									th:each="unit : ${listOfWatchLater}">
									<td><a th:href="@{'/films/' + ${unit.film.id}}"><h5
												th:text="${unit.film.title}"></h5></a></td>
									<td><a
										th:href="@{/users/deleteFilm/{id}(id=${unit.film.id})}">Delete</a></td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="tab-pane" id="watched">
						<h4 class="blue">Watched films</h4>
						<table>
							<tbody>
								<tr th:if="${listOfWatched}" th:each="unit : ${listOfWatched}">
									<td><a th:href="@{'/films/' + ${unit.film.id}}"><h5
												th:text="${unit.film.title}"></h5></a></td>
									<td><a
										th:href="@{/users/deleteFilm/{id}(id=${unit.film.id})}">Delete</a></td>
								</tr>
							</tbody>
						</table>


					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
	$(function() {

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#uploaded-image').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#input-photo").change(function() {
			readURL(this);
		});
	})
</script>
</html>