.card-film
{
	width: auto;
	height: 13rem;
	margin-bottom: 5px;
}

.img-film
{
	display: block;
	width: 65%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

a:hover
{
	text-decoration: none;
}